exportClasses(MyrrixClientConfiguration)
exportMethods(getMyrrixOptions)
exportMethods(setAllPartitionsSpecification)
exportMethods(setContextPath)
exportMethods(setHost)
exportMethods(setKeystoreFile)
exportMethods(setKeystorePassword)
exportMethods(setPassword)
exportMethods(setPort)
exportMethods(setSecure)
exportMethods(setUserName)
importFrom(rJava,.jnew)
