exportClasses(ClientRecommender)
exportClasses(MyrrixClientConfiguration)
exportClasses(ServerRecommender)
exportMethods(await)
exportMethods(estimatePreference)
exportMethods(getAllItemIDs)
exportMethods(getAllUserIDs)
exportMethods(getMyrrixOptions)
exportMethods(setAllPartitionsSpecification)
exportMethods(setContextPath)
exportMethods(setHost)
exportMethods(setKeystoreFile)
exportMethods(setKeystorePassword)
exportMethods(setPassword)
exportMethods(setPort)
exportMethods(setSecure)
exportMethods(setUserName)
importFrom(rJava,.jnew)
