exportClasses(ClientRecommender)
exportClasses(MyrrixClientConfiguration)
exportClasses(ServerRecommender)
exportMethods(await)
exportMethods(estimatePreference)
exportMethods(getAllItemIDs)
exportMethods(getAllUserIDs)
exportMethods(getMyrrixHyperParameters)
exportMethods(getMyrrixOptions)
exportMethods(ingest)
exportMethods(mostPopularItems)
exportMethods(recommend)
exportMethods(setAllPartitionsSpecification)
exportMethods(setContextPath)
exportMethods(setHost)
exportMethods(setKeystoreFile)
exportMethods(setKeystorePassword)
exportMethods(setMyrrixHyperParameters)
exportMethods(setPassword)
exportMethods(setPort)
exportMethods(setSecure)
exportMethods(setUserName)
importFrom(rJava,.jlong)
importFrom(rJava,.jnew)
import(methods)
import(Myrrixjars)
